@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
}
